 .product_list {
   display: flex;
   flex-direction: column;
   list-style-type: none;
   opacity: 1;
   transition: opacity .8s ease-in;

   li {
   }
 }


.product_box {
  display: flex;
  justify-content: center;
  height: 150px;
  //border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;

  &:hover {
    position: relative;
    top: -2px;
    left: 2px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow:
      -1px 1px black,
      -2px 2px black,
      -3px 3px black,
  }

  .product_image {
    display: block;
    width: auto;
    height: 90%;
    margin: 3px 10px 0 0;
  }
}

.product_box_selected {
  border-right-style: none;
}

.product_basic_info {
}

.product_name {
  display: block;
}

.product_price {
  display: block;
}
