.store_page_grid {
  display: grid;
  grid-template-columns: 1.25fr 2fr 1fr;

  .product_list {
    grid-column-start: 1;
  }

  .hidelist {
    opacity: 0;
  }

  .product_details {
    grid-column-start: 2;
  }

  .cart {
    grid-column-start: 3;
  }

}
